header{
	font-family: "Open Sans"; 
	font-style: italic; 
}
.banner{
	background-image: url("../image/header-image.jpg");
	background-size: cover; 
	background-repeat: no-repeat; 
	height: 500px;
}
a:link{
	text-decoration: none;
	text-align: center;
	color: white;
}
a:hover{
	color: #DCA77E;
}
li{
	display: inline;
	margin: 5%;
}
.logo{
	max-width: 100%;
	margin: 1%;
}
.spring{
	font-family: "Courgette";
	font-size: 60px;
}
.text-spring{
	padding: 5%;
	margin:10% 30%;
}
.photoflower{
	max-width: 300px;
	max-height: 200px;
	width: 100%;
}
.photo{
	margin: 1%;
	display: inline;
}
input{
	margin: 5%;
	padding: 1%;
	border-radius: 10px;
	background-color: #343444;
}
.input{
	margin: 0 auto;
}
.title{
	font-family: "Courgette";
	color: #DCA77E;
}
.textflower{
	font-family: "Open Sans";
	font-style: italic;
}
.textlife{
	margin: 5%;
}
.fa-bars {
	display: none;
}
.icono{
	border-radius: 100%;
	font-size: 15px;
	display: inline;
	color: white;
	padding: 5%;
}
/*
@media screen and (max-width : 920px) {
	[class*="col-"] {
		width: 100%;
	}
	[class*="offset-"] {
		width: 100%;
	}
	.menu{
		display: none;
		overflow: hidden;
	}
	.fa-bars{
		display:inline;
		float: right;
		color:white;
		font-size:30px;
		overflow: auto;
	}
	.fa-bars:hover{
		display:block;
		float: right;
		overflow: visible;
	}
}

@media screen and (max-width: 600px) {
	[class*="col-"] {
		width: 100%;
	}
	[class*="offset-"] {
		width: 100%;
	}
	.menu{
		display: none;
		overflow: hidden;
	}
	.fa-bars{
	display:inline;
	float: right;
	color:white;
	font-size:30px;
	overflow: auto;
	}
	.fa-bars:hover{
	display:block;
	float: right;
	overflow: visible;
	}
}
}
 
