header{
	font-family: "Open Sans"; 
	font-style: italic; 
}
.banner{
	background-image: url("../image/header-image.jpg");
	background-size: cover; 
	background-repeat: no-repeat; 
	height: 500px;
}
a:link{
	text-decoration: none;
	text-align: center;
	color: #B0B2B5;
}
a:hover{
	color: #DCA77E;
}
li{
	display: inline;
	margin: 5%;
}
.logo{
	max-width: 100%;
	margin: 1%;
}
.imglogo{
	margin: 5% 0;
	z-index: 1;
}
.spring{
	font-family: "Courgette";
	font-size: 60px;
}
.text-spring{
	margin: 0 auto;
}
.photoflower{
	max-width: 300px;
	max-height: 200px;
	width: 100%;
}
.photo{
	margin: 1%;
	display: inline;
}
input{
	padding: 1%;
	border-radius: 10px;
	background-color: #1C1821;
}

/* Responsive
@media screen and (max-width : 920px) {
	[class*="col-"] {
		width: 100%;
	}
	[class*="offset-"] {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	[class*="col-"] {
		width: 100%;
	}
	[class*="offset-"] {
		width: 100%;
	}
}
 */
